In [1]:
# Input 1:
#  2
# Input 2:
#  3

# Example Output
# Output 1:
# 0 1 0
# 2 3 2

# Output 2:
# 0 0 1 0 0
# 0 2 3 2 0
# 3 4 5 4 3

In [22]:
n=int(input())
for i in range(1,n+1):
    count=0
    count1=0
    for t in range(1,(n-i)+1):
        print('0',end='')
    for j in range(1,i+1):
        print(count+i,end='')
        z=count+i
        count+=1
        
    for p in range(i-1,0,-1):
        print(z-1,end='')
        z-=1
        
    for t in range(1,(n-i)+1):
        print('0',end='')
        
    print()

3
00100
02320
34543

In [2]:
n = int(input())
count = 0
count1 = 0
k = 0
for i in range(1, n + 1):
    for p in range(1, (n - i) + 1):
        print('0', end=' ')
        count += 1
    while k < ((2 * i) - 1):
        if count <= (n - 1):
            print(i + k, end=' ')
            count += 1
            k = k + 1
        else:
            count1 = count1 + 1
            print(i + k - (2 * count1), end=' ')
            k = k + 1
    for p in range(1, (n - i) + 1):
            print('0', end=' ')
    print()
    k = count = count1 = 0

3
0 0 1 0 0
0 2 3 2 0
3 4 5 4 3

In [3]:
n=int(input())
for i in range(1,n+1):
    t=ord('A')
    for p in range(1,i+1):
        print(chr(t),end=' ')
        t=t+1
    print()

5
A
A B
A B C
A B C D
A B C D E

In [8]:
n=int(input())
for i in range(1,n+1):
    k=0
    for t in range(1,n-i+1):
        print(' ',end='')
    while k<((2*i)-1):
        print('*',end='')
        k=k+1
    print()

4
   *
  ***
 *****
*******

In [9]:
n=int(input())

for i in range(1,n+1):
    for t in range(1,(n-i)+1):
        print(' ',end='')
    for j in range(1,i+1):
        print(j,end='')
    for p in range(i-1,0,-1):
        print(p,end='')
    print()

3
  1
 121
12321

In [ ]:
# Example 1: Program to print half pyramid using *
# *
# * *
# * * *
# * * * *
# * * * * *

In [3]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Example 2: Program to print half pyramid a using numbers
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

In [5]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Example 3: Program to print half pyramid using alphabets
# A
# B B
# C C C
# D D D D
# E E E E E

In [12]:
n=5
p=ord('A')
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(p),end=' ')
    p=p+1
    print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
# Programs to print inverted half pyramid using * and numbers
# Example 4: Inverted half pyramid using *
# * * * * *
# * * * *
# * * *
# * *
# *

In [13]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
# Example 5: Inverted half pyramid using numbers
# 1 2 3 4 5
# 1 2 3 4
# 1 2 3
# 1 2
# 1

In [14]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# Programs to print full pyramids
# Example 6: Program to print full pyramid using *
#         *
#       * * *
#     * * * * *
#   * * * * * * *
# * * * * * * * * *

In [15]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,(n-i)+1):
        print(' ',end=' ')
    for k in range(i):
        print('*',end=' ')
    for t in range(1,i):
        print('*',end=' ')
    print()

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
# Example 7: Full Pyramid of Numbers
#         1 
#       2 3 2 
#     3 4 5 4 3 
#   4 5 6 7 6 5 4 
# 5 6 7 8 9 8 7 6 5

In [16]:
n=int(input())
for i in range(1,n+1):
    p=i
    for j in range(1,(n-i)+1):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(p,end=' ')
        p+=1
    for t in range(i-1):
        print(p-2,end=' ')
        p-=1
    print()

5
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [ ]:
# Example 8: Inverted full pyramid of *
# * * * * * * * * *
#   * * * * * * *
#     * * * * *
#       * * *
#         *

In [21]:
n=int(input())
t=n+1
for i in range(1,n+1):
    t=t-1
    for j in range(i-1):
        print(' ',end=' ')
    for k in range(1,2*t):
        print('*',end=' ')
    print()

5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
# Example 9: Pascal's Triangle
#            1
#          1   1
#        1   2   1
#      1   3   3    1
#    1  4    6   4   1
#  1  5   10   10  5   1

# After using nCr formula, the pictorial representation becomes:

#           0C0
#        1C0   1C1
#     2C0   2C1   2C2
#  3C0   3C1   3C2    3C3

In [29]:
from math import factorial
n=int(input())
for i in range(n):
    for j in range(n-i+1):
        print(' ',end='')
    for k in range(i+1):
                # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(k)*factorial(i-k)), end=" ")
 
    # for new line
    print()

5
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [28]:
n = 5
for i in range(n):
    for j in range(n - i + 1):
        # for left spacing
        print(end=" ")

    for j in range(i + 1):
        # nCr = n!/((n-r)!*r!)
        print(factorial(i) // (factorial(j) * factorial(i - j)), end=" ")

    # for new line
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [ ]:
# Example 10: Floyd's Triangle
# 1
# 2 3
# 4 5 6
# 7 8 9 10

In [23]:
n=int(input())
count=1
for i in range(1,n+1):
    for j in range(i):
        print(count,end=' ')
        count+=1
    print()

4
1
2 3
4 5 6
7 8 9 10